name: check-markdown
on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - uses: tj-actions/changed-files@v47
      id: changed-files
      with:
        files: '**/*.md'
        separator: ","
        
    - uses: DavidAnson/markdownlint-cli2-action@v20
      if: steps.changed-files.outputs.any_changed == 'true'
      with:
        globs: ${{ steps.changed-files.outputs.all_changed_files }}
        separator: ","
        config: ./.github/.markdownlint.json
